body{
    backdrop-color: #94bb8a ;
}
p{
    background-color: aqua;
    front-size: 20px;
    front-family: "Comic Sans MC";


}
.class1{
     background-color: #FFDDD2;
     front-size: 14px;
     front-family: "Arial Black";
     color: #94bb8a;

 }